@model MovieListModel
@{
    ViewData["Title"] = "LogMovie";
    Layout = "~/Views/Shared/LogPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<style>
    .button-container {
        display: flex;
        justify-content: center; /* Yatayda ortalar */
        margin-top: 20px; /* Üstten biraz boşluk */
    }

    .load-more-button {
        text-align: center;
        border: 1px solid black;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #f0f0f0;
        color: #333;
    }

        .load-more-button:hover {
            background-color: #e0e0e0;
        }
</style>
<body id="mainpage">
    

    <!---NAVBAR-->
    <div class="film">
      
        <div class="film-side" id="popular">
            
            @foreach (var item in Model.ListC)
            {
                    <!--UP SİDE-->
                <div class="up-side deger-@item.ListID" id="up-side-0" style="background:linear-gradient(to bottom,rgba(0,0,0,0),#151515), url('/filmSitesi/filmsitesi/image/wallpaperbetter.com_1364x768.jpg');">
            <p class="up-side-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatem distinctio eveniet, odio, omnis officia velit adipisci odit nulla modi corporis repellat suscipit consequuntur aperiam assumenda, ratione asperiores neque dolorum.</p>
            </div>
            @foreach (var itemm in Model.Movies)
            {
            <div class="up-side value-@itemm.MovieID" values="@itemm.MovieID" style="background:linear-gradient(to bottom,rgba(0,0,0,0),#151515), url('@itemm.Image');display: none;">
            <h1>@itemm.Name</h1>
            <p class="up-side-desc">@itemm.Description</p>
            </div>
            }
           

            
                <!--MİDDLE SİDE-->
                <div class="movie-list-container">
                    
                    <h1 class="movie-list-title">@item.ListName</h1>
                    <div class="movie-list-wrapper">
                        <div class="movie-list">
                            @foreach (var deger in Model.ListConnect)
                            {
                                if (deger.ListID == item.ListID)
                                {



                                    @foreach (var itemmm in Model.Movies)
                                    {

                                        if (deger.MovieID == itemmm.MovieID)
                                        {
                                            if (Model.userPaid==false)
                                            {
                                                <div class="movie-list-item " data-list="@item.ListID" data-isim="@deger.ListID" values="@itemmm.MovieID">
                                                    <a href="#" onclick="uyeOl()">
                                                        <img class="movie-list-item-img" src="@itemmm.Image">
                                                        <p class="movie-list-item-title">@itemmm.Name</p>
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="movie-list-item " data-list="@item.ListID" data-isim="@deger.ListID" values="@itemmm.MovieID">
                                                    <a href="/WatchMovie/Index?UserID=@Model.userID&MovieID=@deger.MovieID">
                                                        <img class="movie-list-item-img" src="@itemmm.Image">
                                                        <p class="movie-list-item-title">@itemmm.Name</p>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            }

                        </div>
                        <i class="fas fa-chevron-right arrow"></i>
                        <i class="fas fa-chevron-left arrow1"></i>
                    </div>
                </div>

            }
           
        </div>
        <div class="button-container">
            <button onclick="loadMoreMovies(@Model.userID)" class="load-more-button">
                Daha Fazla Yükle
            </button>
        </div>
    </div>

    <script>
        function uyeOl() {
            alert("Filmleri görüntülemek istiyorsanız lütfen abone olunuz.");
        }
        $(document).ready(function () {
            $(".movie-list-item").on({
                mouseenter: function () {
                    var movieID = $(this).attr("values");
                    var ListID = $(this).data("list");
                    var degerID = $(this).data("isim");
                    if(degerID=ListID){
                        $(".up-side.value-" + movieID).fadeIn(200).css("display", "block");
                        $(".up-side.deger-" + ListID).fadeOut(200).css("display", "none");
                    }
                   
                },
                mouseleave: function () {
                    var movieID = $(this).attr("values");
                    var ListID = $(this).data("list");
                    $(".up-side:not(#up-side-0)").fadeOut(200).css("display", "none");
                    $(".up-side.deger-"+ListID).fadeIn(200).css("display", "block");
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadMoreMovies(userID) {
            // AJAX çağrısı yap
            $.ajax({
                url: '@Url.Action("GetAllItemsLog", "Movie")', // Yüklenecek verilerin bulunduğu action'ın URL'si
                type: 'POST',
                data: { userID: userID }, // Kullanıcı ID'sini gönder
                success: function (response) {
                    // AJAX çağrısı başarılı olduğunda, gelen verileri işle
                    $('#popular').html(response); // Verileri sayfaya ekle
                    $('button[onclick="loadMoreMovies()"]').hide(); // "Daha Fazla Yükle" butonunu gizle
                },
                error: function () {
                    // AJAX çağrısı sırasında bir hata olursa
                    console.log('Yükleme hatası');
                }
            });
        }
    </script>

</body>
</html>



